body {
    background-color: rgb(36, 40, 59);
    color: white;
}

canvas {
    position: absolute;
    top: 0%;
    left: 0%;
}

/*#increment {
    position: absolute;
    top: -1%;
    z-index: 1;
}*/
