body {
  font-family: monospace;
  background-color: transparent;
  color: white;
}

canvas {
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: -1;
}

@keyframes fade {
  from { opacity: 100%; }
  to { opacity: 0%; }
}

.popupString {
  font-size: 15px;
  text-align: center;
  animation: 1.5s ease-out fade 3s forwards;
}

.container {
  width: 100%;
  position: fixed;
}

#secretString {
  display: none;
}
