body {
  font-family: monospace;
  background-color: transparent;
  color: white;
}

canvas {
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: -1;
}

/*#increment {
    position: absolute;
    top: -1%;
    z-index: 1;
}*/

@keyframes fade {
  from { opacity: 100%; }
  to { opacity: 0%; }
}

#keynoteContainer {
  width: 100%;
  height: 15px;
  position: absolute;
  z-index: 1;
}

#keynote {
  font-size: 15px;
  text-align: center;
  animation: 1.5s ease-out fade 3s forwards;
}
